.appointment {

}

.appointment-form {
    width: 80%;
    margin: 2rem auto;
    padding: 3rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.appointment-form-title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3);
}

.form-group {
    margin: 2rem 0;
}

.form-label {

}
.form-controls {

}
.form-control {
    border: 1px solid rgb(214, 214, 214);
    padding: .5rem;
    outline: none;
}



.d-flex {
 display: flex;
 justify-content: space-between;
}

.calendar-box {
    width: 50%;
    margin-top: 5rem;
}

#datepicker {
    border:1px solid rgb(214, 214, 214);
    padding: .5rem;
    color: rgb(129, 129, 129);
    outline: none;
    font-size: 1.1rem;
    border-radius: .5rem;
}

.submitBtn {
    width: 4rem;
    margin: 0 auto;
}
.submitBtn > button {
    background-color: white;
    color: #212121;
    grid-row-start: 3;
    width: 5rem;
    height: 2.5rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: .25rem;
    padding: 0 .5rem;
    margin: 0 auto;
    transition:  all .5s;
    margin-top: 5rem;
}

.submitBtn > button:hover {
    background-color: #212121;
    color: white;
}


